.card {
    border: 3px solid ;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    max-width: 500px;
}

.card .title {
    padding: 15px 0px;
    display: flex;
    justify-content: center;
}

.card .content {
    flex-grow: 1;
    background-color: #fff;
    color: black;
    padding: 20px;
}